  <div class="user_space">
    <div class="to_my_account">
      <%=link_to current_user.name, edit_user_path(current_user)%>     
    </div>
    <div class="to_new_chat">
      <a href="">チャットを作成する</a>
    </div>
  </div>

  <div class="rooms_space">
    <div class="room">
      <div class="room_name">
        <a href="#">techroom1</a>
      </div> 
    </div>   
    <div class="room">
      <div class="room_name">
        <a href="#">techroom2</a>
      </div> 
    </div>
  </div>